/*全站的基本設定--全站reset、自定義變數*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

a {
    text-decoration: none;
}

input, button, select,
input:focus, button:focus, select:focus {
    border-color: transparent;
    border-width: 0px;
    outline: 0;
    background: transparent;
    padding: 0;
    margin: 0;

}

/*select {*/
/*    appearance: none;*/
/*    -moz-appearance: none;*/
/*    -webkit-appearance: none;*/
/*}*/

/*body::-webkit-scrollbar-thumb:hover {*/
/*    background: $sub_primary;*/
/*}*/

/* ---自定義變數--- */
:root {
    /* color-variables */
    /*深粉紅色 */
    --primary: #BB3D63;

    /*白色*/
    --white: #fff;
    --white-70: #ffffff70;

    /*灰色*/
    --txt-default: #383838;
    --txt-placeholder: #808080;

    /*其他*/
    --info-tag1: #faf7f4;
    --info-ta2: #faf7f2;

    /*gradient-variables*/
    --gradient-primary: linear-gradient(270deg, #FF6A6A 0%, #FF6B96 45%, #FD87FF 70%, #BB85FF 100%);
    --gradient-sec: linear-gradient(180deg, rgba(255, 106, 106, 0.3) 0%, #BB85FF 100%);
    --gradient-thi: linear-gradient(180deg, rgba(255, 106, 106, 0.3) 0%, #BB85FF 100%);
    --gradient-bg: linear-gradient(180deg, #FFF1E0 0.29%, #FFEBEB 99.55%);
    --gradient-neu: linear-gradient(180deg, #EBEDF0 0%, #F2F4F6 100%);

    /*shadow-variables*/
    --inner-glass: inset 3px 3px 4px rgba(114, 114, 114, 0.4);
    --outside-glass: 0px 10px 20px rgba(0, 0, 0, 0.2);
    --outside-hover: 0px 10px 20px var(--white-70);
    /*--outside-focus: 0px 10px 20px var(--primary);*/

    --up-neum: 5px 5px 10px rgba(117, 127, 138, 0.5);
    --down-neum: inset -5px -5px 10px -2px rgba(255, 255, 255, 0.5), inset 5px 5px 10px -2px rgba(117, 127, 138, 0.5);

    /* font-variables */
    --font-size-base: 18px;
    --font-h1: 72px;
    --font-h2: 30px;
    --font-h3: 24px;

    /*font-weight*/
    --fw-bold: 700;
    --fw-blank: 900;
}

h1, .fz-h1 {
    font-size: var(--font-h1);
    font-weight: var(--fw-blank);
    line-height: 72px;
    letter-spacing: 10px;
}

h2, .fz-h2 {
    font-size: var(--font-h2);
    line-height: 48px
}

h3, .fz-h3 {
    font-size: var(--font-h3);
    line-height: 36px
}


p, input, select, .font-default {
    font-size: var(--font-size-base);
    font-weight: var(--fw-bold);
    line-height: 28px;
    color: var(--txt-default);
    text-align: left;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-cs {
    align-items: center;
    justify-content: flex-start;
}

.flex-ec{
    align-items: flex-end;
    justify-content: center;
}

.flex-ss {
    align-content: flex-start;
    justify-content: flex-start;
}

.flex-sc {
    align-content: flex-start;
    justify-content: center;
}

.flex-cc {
    align-items: center;
    justify-content: center;
}

.flex-ca {
    align-items: center;
    justify-content: space-around;
}

.flex-cb {
    align-items: center;
    justify-content: space-between;
}

.flex-sb {
    align-items: flex-start;
    justify-content: space-between;
}

.flex-eb {
    align-items: flex-end;
    justify-content: space-between;
}

.w-100 {
    width: 100% !important;
}


/*.flex-row-a {*/
/*    display: flex;*/
/*    align-items: center*/
/*}*/

/*.flex-row {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

/*.flex-col {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.row-center {*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.flex-row-cc {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.flex-row-sb {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: flex-start;*/
/*    justify-content: space-between;*/
/*}*/

/*.flex-row-eb {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: flex-end;*/
/*    justify-content: space-between;*/
/*}*/

/*.flex-row-cb {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*}*/

/*.flex-col-ce {*/
/*    display: flex !important;*/
/*    flex-direction: column;*/
/*    align-items: end;*/
/*    justify-content: center;*/
/*}*/

/*.flex-col-cc {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.flex-row-ce {*/
/*    display: flex !important;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: flex-end;*/
/*}*/


/*:root {*/
/*    --vt-c-white: #ffffff;*/
/*    --vt-c-white-soft: #f8f8f8;*/
/*    --vt-c-white-mute: #f2f2f2;*/

/*    --vt-c-black: #181818;*/
/*    --vt-c-black-soft: #222222;*/
/*    --vt-c-black-mute: #282828;*/

/*    --vt-c-indigo: #2c3e50;*/

/*    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);*/
/*    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);*/
/*    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);*/
/*    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);*/

/*    --vt-c-text-light-1: var(--vt-c-indigo);*/
/*    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);*/
/*    --vt-c-text-dark-1: var(--vt-c-white);*/
/*    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);*/
/*}*/

/* semantic color variables for this project */
/*:root {*/
/*    --color-background: var(--vt-c-white);*/
/*    --color-background-soft: var(--vt-c-white-soft);*/
/*    --color-background-mute: var(--vt-c-white-mute);*/

/*    --color-border: var(--vt-c-divider-light-2);*/
/*    --color-border-hover: var(--vt-c-divider-light-1);*/

/*    --color-heading: var(--vt-c-text-light-1);*/
/*    --color-text: var(--vt-c-text-light-1);*/

/*    --section-gap: 160px;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --color-background: var(--vt-c-black);*/
/*        --color-background-soft: var(--vt-c-black-soft);*/
/*        --color-background-mute: var(--vt-c-black-mute);*/

/*        --color-border: var(--vt-c-divider-dark-2);*/
/*        --color-border-hover: var(--vt-c-divider-dark-1);*/

/*        --color-heading: var(--vt-c-text-dark-1);*/
/*        --color-text: var(--vt-c-text-dark-2);*/
/*    }*/
/*}*/



