/*版面佈局*/
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background: var(--gradient-bg);
    background-image: url("../images/img_bg.png");
    background-size: cover;

    font-family: "Noto Sans TC", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--font-size-base);
    color: var(--txt-default);
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(100% - 96px);
    height: calc(100% - 96px);
    /*margin: 48px;*/

    /*max-width: 1200px;*/
    /*max-height: 886px;*/
    border: 1px solid #BB3D63;
}

header > img {
    position: fixed;
    top: 48px;
    left: 48px;
    width: 183px;
    height: 80px;
}

header > div {
    position: fixed;
    top: 48px;
    right: 48px;

    /*width: 160px;*/
    /*height: 160px;*/
}

.content-card, .final-card {
    width: 100%;
    height: 100%;
    padding: 85px 112px;

    /*max-width: 1192px;*/
    /*max-height: 716px;*/
}

.block-glass {
    width: 100%;
    height: 55%;
    background-color: var(--white-70);
    box-shadow: var(--outside-glass);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    padding: 72px 48px 72px 240px;
}

.block-btn {
    width: 100%;
    height: 45%;
    background: var(--gradient-primary);
    box-shadow: var(--outside-glass), var(--inner-glass);
    border-radius: 0 0 60px 60px;
    padding: 24px 48px 48px 240px;
}

.final-card .block-glass {
    padding: 72px 48px 72px 550px;
}

.final-card .block-btn {
    padding: 24px 48px 48px 48px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

/*@media (min-width: 1024px) {*/
/*  body {*/
/*    display: flex;*/
/*    place-items: center;*/
/*  }*/

/*  #app {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    padding: 0 2rem;*/
/*  }*/
/*}*/
