/*版面佈局*/
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background: var(--gradient-bg);
    background-image: url("../images/img_bg.png");
    background-size: cover;

    font-family: "Noto Sans TC", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--font-size-base);
    color: var(--txt-default);
    overflow-x: hidden;
    overflow-y: hidden;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(100% - 96px);
    height: calc(100% - 96px);
    /*margin: 48px;*/

    /*max-width: 1200px;*/
    /*max-height: 886px;*/
    border: 1px solid #BB3D63;
}

header > img {
    position: fixed;
    top: 48px;
    left: 48px;
    width: 183px;
    height: 80px;
}

header > .outside-progress {
    position: fixed;
    top: 48px;
    right: 48px;
}

section {
    width: 100%;
    height: 100%;
}

.content-card {
    padding: 85px 112px;
}
.content-pop{
    position: fixed;
    z-index: 20;
}


/*@media (hover: hover) {*/
/*    a:hover {*/
/*        background-color: hsla(160, 100%, 37%, 0.2);*/
/*    }*/
/*}*/

/*@media (min-width: 1024px) {*/
/*  body {*/
/*    display: flex;*/
/*    place-items: center;*/
/*  }*/

/*  #app {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    padding: 0 2rem;*/
/*  }*/
/*}*/
