/*可重覆性的元件樣式*/
/* @區塊-block ---------------------------------------------------------------------------------------------- */
.block-glass {
    width: fit-content;
    height: auto;
    margin: 36px 0;
    padding: 36px;
    border-radius: 20px;
    border: 1px solid var(--white);
    background-color: var(--white-70);
    box-shadow: var(--outside-glass);
}

.content-card .block-glass, .final-page .block-glass,
.content-pop .block-glass {
    width: 100%;
    height: inherit;
    padding: 48px 48px 24px 240px;
    margin: 0;
    border-radius: 60px 60px 0 0;
}

.final-page .block-glass {
    padding: 48px 48px 24px 550px;
}

.content-pop .block-glass {
    padding: 48px;
    width: 50vw;
    height: 30vh;
    z-index: inherit;
}

.block-glass.for-date {
    margin-left: 200px;
    padding: 24px 36px;
}

.block-btn {
    width: 100%;
    height: inherit;
    background: var(--gradient-primary);
    box-shadow: var(--outside-glass), var(--inner-glass);
    border-radius: 0 0 60px 60px;
    padding: 24px 240px;
}

.content-pop .block-btn {
    padding: 48px;
    width: 50vw;
    height: 20vh;
    z-index: inherit;
}

.final-page .block-btn {
    padding: 24px 240px;
}

.block-chat {
    width: fit-content;
    height: auto;
    padding: 36px;
    background-color: var(--white-70);
    box-shadow: var(--outside-glass);
    border: 1px solid var(--white);
    border-radius: 20px;
    margin: 36px 36px 0 420px;
}

.block-chat:before {
    position: absolute;
    content: "";
    border-width: 25px 25px 10px 0;
    border-style: solid;
    border-color: transparent var(--white-70);
    bottom: 20px;
    left: -25px;
}

.block-info {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    padding: 36px;
    border-radius: 20px;
    background: var(--gradient-bg);
    box-shadow: var(--outside-glass);
}

.block-info > p {
    width: 100%;
    color: var(--primary);
    text-align: right;
    margin: 8px 0;
}

.block-info > .flex-cb > i {
    position: absolute;
    bottom: 0;
    right: 0;
}

.block-info.for-date {
    width: 100%;
    padding: 24px 36px;
}

.retro-list .block-info {
    position: relative;
}

/* @list drag -list-group ---------------------------------------------------------------------------------------------- */
.flex-ec.list-group {
    width: 100% !important;
    margin-bottom: 120px;
}

.flex-ss.list-group {
    width: calc(100% - 432px) !important;
    height: 100%;
}

.retro-list .list-group {
    width: 1100px !important;
}

/* @list drag -list-area scrollbar---------------------------------------------------------------------------------------------- */
.list-area {
    position: relative;
    left: 2px;
    width: 360px;
    height: 360px;
    max-width: 360px;
    max-height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 10px;
}

.retro-list .list-area {
    top: 0;
    left: -10px;
    width: 360px;
    height: 200px;
    max-width: 360px;
    max-height: 210px;
    overflow-y: auto;
    margin: 4px 12px;
}

/* @list drag - drag item---------------------------------------------------------------------------------------------- */
.list-group-item {
    position: relative;
    width: 330px;
    height: 72px;
    margin: 24px 24px 0 0;
    padding: 16px;
    background: var(--white);
    box-shadow: var(--up-neum);
    border-radius: 20px;
}

.block-info .list-group-item {
    margin: 16px 8px 0 0;
}

.retro-list .list-group-item {
    margin: 24px 24px 0 0;
}

.list-group-item > p {
    text-align: center;
    margin: 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    box-sizing: border-box;
}

/* @content ---------------------------------------------------------------------------------------------- */
.sprint-content {
    position: absolute;
    top: 160px;
    width: 1300px;
    height: 560px;
    pointer-events: none;
}

.img_sprint {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/img_sprint_bg.png');
}

/* @list drag - drag item - for sprint process--------------------------------------------------------------------------------------------- */
.list-group-1 {
    position: absolute;
    top: 10%;
    left: 40%;
    box-shadow: var(--down-neum);
}

.list-group-2 {
    position: absolute;
    bottom: 18%;
    left: 30%;
    box-shadow: var(--down-neum);
}

.list-group-3 {
    position: absolute;
    bottom: 18%;
    left: 60%;
    box-shadow: var(--down-neum);
}

.list-group-1 .list-group-item,
.list-group-2 .list-group-item,
.list-group-3 .list-group-item {
    margin: 0;
    left: -16px;
    top: -16px;
    pointer-events: fill;
}

/* @list drag - order-list --------------------------------------------------------------------------------------------- */
.order-list {
    position: absolute;
    top: 120px;
    margin: 8px 0;
}

.order-list .list-group-item {
    box-shadow: var(--down-neum);
}

.order-list.sprint-list {
    top: 144px;
}

.retro-list .order-list {
    top: 40px;
    left: 2px;
    margin: 0;
}

/* @list drag - 收合item --------------------------------------------------------------------------------------------- */
.item-more {
    display: contents;
    position: absolute;
    right: -72px;
    padding: 16px;
    height: 72px;
    background: var(--white);
    box-shadow: var(--down-neum);
    border-radius: 0 20px 20px 0;
    z-index: 10;
}

/* @卡片 - card --------------------------------------------------------------------------------------------- */
.card-tag {
    width: 260px;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    padding: 24px 16px;
    background: var(--white);
    box-shadow: var(--down-neum);
    border-radius: 20px;
}

.card-tag p {
    color: var(--txt-placeholder);
}

.card-tag.w-100 {
    height: 180px;
}

.block-info.flex-col .card-tag {
    width: 343px;
    margin: 16px 0;
}

.block-info.flex-col .card-tag:last-child {
    margin-bottom: 0;
}

/* @label - point區塊 --------------------------------------------------------------------------------------------- */
.tag-point {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    border: 2px solid var(--white);
    border-radius: 4px;
    padding-bottom: 4px;
    box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1px 1px 1px rgba(174, 174, 192, 0.15), -1px -1px 3px #FFFFFF, 1px 1px 3px rgba(174, 174, 192, 0.4);
    background-color: #F0F0F3;
}

.tag-point p {
    color: var(--primary);
    text-align: center;
}

/* @label - point區塊 for select--------------------------------------------------------------------------------------------- */
select.tag-point {
    min-width: 43px;
    margin-top: 0 !important;
    padding: 0 !important;
    text-align: center;
    background-color: #F0F0F3 !important;
    box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1px 1px 1px rgba(174, 174, 192, 0.15), -1px -1px 3px #FFFFFF, 1px 1px 3px rgba(174, 174, 192, 0.4) !important;

}

/* @label - date區塊 for calendar--------------------------------------------------------------------------------------------- */
.tag-point.for-date {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    margin: 8px;
    align-items: center;
}

.tag-point.for-date p {
    line-height: 60px;
    color: var(--txt-placeholder);
}

/* @label - 區塊 for calender--------------------------------------------------------------------------------------------- */
.daily-tag-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-70);
    border-radius: 2px;
    color: var(--white);
    text-align: center;
    font-size: 14px;
}

.daily-tag-2 {
    position: absolute;
    top: 18px;;
    left: 0;
    width: 100%;
    height: 19px;
    line-height: 19px;
    background-color: rgba(40, 197, 255);
    color: var(--white);
    text-align: center;
    font-size: 14px;
}

.daily-tag-3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 19px;
    line-height: 19px;;
    background-color: #FF36A3;
    color: var(--white);
    text-align: center;
    font-size: 14px;
}

/* @元件 - input select --------------------------------------------------------------------------------------------- */
input.card-tag {
    width: 240px;
    height: 47px;
    margin-right: 24px;
}

input::placeholder {
    font-weight: normal;
}

select.card-tag {
    width: 100px;
    height: 47px;
    font-weight: normal;
    padding: 0 16px;
    margin-right: 24px;
    color: var(--txt-placeholder);
}

.card-tag > .fz-h3 {
    text-align: center;
}

input:focus,
select:focus {
    background: var(--white);
    margin-top: 16px;
    padding: 24px 16px;
    box-shadow: var(--up-neum);
}

/* @元件-按鈕 primary---------------------------------------------------------------------------------------------- */
.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 193px;
    height: 64px;
    margin-top: 16px;
    border-radius: 20px;
    text-align: center;
    color: var(--primary);
    box-shadow: var(--up-neum);
    background: var(--gradient-neu);
    transform: perspective(1px) translateZ(0);
    cursor: pointer;
}

.btn-primary.bg-next {
    background: var(--primary);
}

.btn-primary:hover {
    box-shadow: var(--outside-hover);
}

.btn-primary::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background: var(--gradient-primary);
    transform: scale(0);
    transition: .3s;
    z-index: -1;
}

.btn-primary:hover::before {
    transform: scale(1);
    box-shadow: var(--outside-hover);
}

.btn-primary:hover .txt-neu {
    color: var(--white) !important;
}

.content-pop .btn-primary {
    margin: 0;
}

/* @元件-按鈕 secondary---------------------------------------------------------------------------------------------- */
.btn-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 47px;
    text-align: center;
    box-shadow: var(--up-neum);
    background: var(--gradient-neu);
    border-radius: 20px;
    cursor: pointer;
}

.btn-sec p {
    color: var(--primary);
}

/* @元件-進度列 progress bar ---------------------------------------------------------------------------------------------- */
.outside-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    box-shadow: var(--up-neum);
    border-radius: 100%;
    background: #F6E7D8;
    z-index: 10;
}

.inner-progress {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: var(--down-neum);
    background-color: var(--white);
    z-index: 10;
}

.overlay-bg {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 8;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background: var(--gradient-bg);
    background-image: url("../images/img_bg.png");
    background-size: cover;
}

/* @文字-txt ---------------------------------------------------------------------------------------------- */
.txt-neu {
    background: var(--primary);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.2) 0 3px 3px;
}

.btn-primary.bg-next .txt-neu {
    color: var(--white);
    text-shadow: transparent;
}

.txt-progress {
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.2) 0 3px 3px;
    line-height: 100px;
    text-align: center;
}

.txt-date {
    text-align: center;
    width: 60px;
    margin: 0 8px 8px 8px;
    color: var(--txt-placeholder);
}

/* @顏色-color ---------------------------------------------------------------------------------------------- */
.color_primary {
    color: var(--primary);
}

/* @圖示-icon ---------------------------------------------------------------------------------------------- */
i, img {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.i-arrow {
    margin: 16px 8px;
    min-width: 30px;
    min-height: 30px;
    background-image: url("../icon/i_arrow.svg");
}

.i-delete {
    min-width: 24px;
    min-height: 24px;
    background-image: url("../icon/i_delete.svg");
    cursor: pointer;
}

.i-more {
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
}


.i-link {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background-image: url("../icon/i_link.svg");
}

.i-task {
    min-width: 100px;
    min-height: 100px;
    background-image: url("../icon/i_task.svg");
}

.i-po {
    min-width: 100px;
    min-height: 100px;
    background-image: url("../icon/i_po.svg");
}

.i-order {
    min-width: 100px;
    min-height: 100px;
    background-image: url("../icon/i_order.svg");
}

.i-info {
    min-width: 100px;
    min-height: 100px;
    background-image: url("../icon/i_info.svg");
}

.i-list {
    min-width: 100px;
    min-height: 100px;
    background-image: url("../icon/i_list.svg");
}

.i-meeting {
    min-width: 100px;
    min-height: 100px;
    background-image: url("../icon/i_meeting.svg");
}

.i-retro {
    position: absolute;
    top: -20px;
    right: 36px;
    min-width: 100px;
    min-height: 100px;
    background-image: url("../icon/i_retro.svg");
}

.i-jira {
    min-width: 157px;
    min-height: 47px;
    background-size: 60%;
    background-position: left bottom;;
    background-image: url("../icon/i_jira.svg");
}

.i-confluence {
    position: absolute;
    left: 0;
    bottom: 0;
}

/* @圖示-image ---------------------------------------------------------------------------------------------- */
.img-po {
    position: absolute;
    top: 96px;
    left: 0;
    z-index: 10;
}

.content-card .img-po {
    left: 120px;
}

.final-page .img-po {
    left: 130px;
    top: 0;
}

.img-chat {
    position: absolute;
    left: 220px;
    top: 16px;
    z-index: 10;
}

.img-bear {
    position: fixed;
    right: -60px;
    bottom: -48px;
    z-index: 10;
    padding-top: 48px;
}

.img-engineer {
    position: absolute;
    top: 80px;
    left: 20px;
}

/* @動畫 - animate ---------------------------------------------------------------------------------------------- */
/*情境 - 引導按鈕 start restart*/
.animate__shakeX {
    animation: animate__shakeX 2s infinite;
}

/*情境 - 引導按鈕 next ,焦點標題*/
.animate__pulse {
    animation: animate__pulsepulse 2s infinite;
}

/*情境 - 按鈕收合*/
.slideInLeft {
    animation: slideInLeft 2s;
}

/*情境 - 對話訊息*/
.animate__bounceIn {
    animation: animate__bounceIn 0.5s;
}

/*情境 - 淡入順序顯示*/
.animate__fadeIn {
    animation: animate__fadeIn 1s;
    animation-fill-mode: backwards;
}

/*情境 - 畫面滑入*/
.animate__fadeInRight {
    animation: animate__fadeInRight 2s;
}

.animate__fadeInLeft {
    animation: animate__fadeInLeft 2s;
}

.animate__headShake {
    animation: animate__headShake 2s;
}

/* @動畫順序-animate  ---------------------------------------------------------------------------------------------- */
.animate__2s {
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

.animate__3s {
    animation-delay: 2s;
    animation-fill-mode: backwards;
}

.animate__4s {
    animation-delay: 3s;
    animation-fill-mode: backwards;
}

