/*可重覆性的元件樣式*/
/* @區塊-block ---------------------------------------------------------------------------------------------- */
.block-glass {
    width: fit-content;
    height: auto;
    margin: 36px 0;
    padding: 36px;
    border-radius: 20px;
    border: 1px solid var(--white);
    background-color: var(--white-70);
    box-shadow: var(--outside-glass);
}

.content-card .block-glass, .final-page block-glass,
.content-pop .block-glass {
    width: 100%;
    height: 55%;
    padding: 48px 48px 24px 240px;
    border-radius: 0;
    margin: 0;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.final-page .block-glass {
    padding: 48px 48px 24px 550px;
}

.content-pop .block-glass {
    padding: 48px;
    width: 50vw;
    height: 26vh;
    z-index: inherit;
}

.block-glass.for-date {
    margin-left: 200px;
    padding: 24px 36px;
}

.block-btn {
    width: 100%;
    height: 45%;
    background: var(--gradient-primary);
    box-shadow: var(--outside-glass), var(--inner-glass);
    border-radius: 0 0 60px 60px;
    padding: 24px 240px;
}

.content-pop .block-btn {
    padding: 48px;
    width: 50vw;
    height: 20vh;
    z-index: inherit;
}

.final-page .block-btn {
    padding: 24px 240px;
}

.block-chat {
    width: fit-content;
    height: auto;
    padding: 36px;
    background-color: var(--white-70);
    box-shadow: var(--outside-glass);
    border: 1px solid var(--white);
    border-radius: 20px;
    margin: 36px 36px 0px 420px;
}

.block-chat:before {
    position: absolute;
    content: "";
    border-width: 25px 25px 10px 0px;
    border-style: solid;
    border-color: transparent var(--white-70);
    bottom: 20px;
    left: -25px;
}

.sprint-content {
    display: block;
    position: fixed;
    bottom: 96px;
    width: calc(100% - 96px);
    height: 515px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../images/img_sprint_bg.png');
    pointer-events: none;
}

.block-info {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    padding: 36px;
    border-radius: 20px;
    background: var(--gradient-bg);
    box-shadow: var(--outside-glass);
}

.block-info.for-date {
    width: 100%;
    padding: 24px 36px;
}

.block-info > .flex-cb > i {
    position: absolute;
    bottom: 0;
    right: 0;
}

.retro-list .block-info {
    position: relative;
}


.flex-ec.list-group {
    width: 100% !important;
    margin-bottom: 120px;
}

.flex-ss.list-group {
    width: calc(100% - 432px) !important;
    height: 100%;
}

.retro-list .list-group {
    width: 1100px !important;
}

.list-area {
    position: relative;
    left: 2px;
    width: 360px;
    height: 360px;
    max-width: 360px;
    max-height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 10px;
}

.retro-list .list-area {
    top: 4px;
    left: 0;
    width: 350px;
    height: 210px;
    max-width: 350px;
    max-height: 210px;
    overflow-y: hidden;
}

/* -- 元件 Type: 捲軸 -- */
/* ---捲軸底色--- */
.list-area::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: var(--down-neum);
    border-radius: 10px;
}

/* ---捲軸寬度--- */
.list-area::-webkit-scrollbar {
    position: relative;
    width: 8px;
    background-color: transparent;
}

/* ---捲軸本體顏色--- */
.list-area::-webkit-scrollbar-thumb {
    background: var(--gradient-sec);
    border-radius: 10px;
}

.list-group-item {
    position: relative;
    width: 330px;
    height: 72px;
    margin: 24px 24px 0 0;
    padding: 16px;
    background: var(--white);
    box-shadow: var(--up-neum);
    border-radius: 20px;
}

.list-group-1 {
    position: fixed !important;
    bottom: 450px;
    left: 520px;
    box-shadow: var(--down-neum);
}

.list-group-2 {
    position: fixed !important;
    bottom: 140px;
    left: 500px;
    box-shadow: var(--down-neum);
}

.list-group-3 {
    position: fixed !important;
    bottom: 140px;
    left: 900px;
    box-shadow: var(--down-neum);
}

.list-group-1 .list-group-item,
.list-group-2 .list-group-item,
.list-group-3 .list-group-item {
    margin: 0;
    left: -16px;
    top: -16px;
    pointer-events: fill;
}

.order-list {
    position: absolute;
    top: 120px;
    margin: 8px 0;
}

.order-list .list-group-item {
    box-shadow: var(--down-neum);
}

.order-list.sprint-list {
    top: 144px;
}

.retro-list .order-list {
    top: 40px;
    margin: 0;
}

.list-group-item > p {
    text-align: center;
    margin: 0 8px;
}

.block-info .list-group-item {
    margin: 16px 8px 0 0;
}

.retro-list .list-group-item {
    margin: 24px 24px 0 0;
}

.block-info > p {
    width: 100%;
    color: var(--primary);
    text-align: right;
    margin: 8px 0;
}

.item-more {
    display: contents;
    position: absolute;
    right: -72px;
    padding: 16px;
    height: 72px;
    background: var(--white);
    box-shadow: var(--down-neum);
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 10;
}

.card-tag {
    width: 260px;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    padding: 24px 16px;
    background: var(--white);
    box-shadow: var(--down-neum);
    border-radius: 20px;
}

.card-tag p {
    color: var(--txt-placeholder);
}

.card-tag.w-100 {
    height: 180px;
}

.block-info.flex-col .card-tag {
    width: 343px;
    margin: 16px 0;
}

.block-info.flex-col .card-tag:last-child {
    margin-bottom: 0;
}

input.card-tag {
    width: 240px;
    height: 47px;
    margin-right: 24px;
}

input::placeholder {
    font-weight: normal;
}

input:focus,
select:focus {
    background: var(--white);
    margin-top: 16px;
    padding: 24px 16px;
    box-shadow: var(--up-neum);
}

/*//TODO select*/
/*select:before {*/
/*    content: '';*/
/*    background-size: 24px 24px;*/
/*    background-position: calc(100% - 24px) center;*/

/*    background: #fff url("../icon/i_down.svg") no-repeat;*/
/*    background-position: right 20px center;*/
/*}*/

/*.select_style {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    height: 40px;*/
/*    background: #fff url("../images/icon/i_select.svg") no-repeat;*/
/*    background-position: right 20px center;*/
/*    padding: 10px 24px 10px 20px;*/
/*    cursor: pointer;*/
/*}*/

/*.select_style + .select_dropdown {*/
/*    display: none;*/
/*    width: 100%;*/
/*    max-height: 350px;*/
/*    margin-top: 4px;*/
/*    position: absolute;*/
/*    padding: 4px;*/
/*    background-color: #fff;*/
/*    border: 1px solid rgba(0, 0, 0, 0.15);*/
/*    overflow-y: auto;*/
/*    z-index: 1;*/
/*}*/

/*.select_style.active + .select_dropdown,*/
/*.select_style.active ~ .select_overlay {*/
/*    display: block;*/
/*}*/

/*.select_option {*/
/*    width: 100%;*/
/*    border-radius: 4px;*/
/*    padding: 0.5rem 0.5rem 0.5rem 1rem;*/
/*}*/

/*.select_option:hover {*/
/*    background-color: var(--primary);*/
/*    color: #fff;*/
/*}*/

/*.select_overlay {*/
/*    display: none;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    opacity: 0;*/
/*}*/

select.card-tag {
    width: 100px;
    height: 47px;
    font-weight: normal;
    padding: 0 16px;
    margin-right: 24px;
    color: var(--txt-placeholder);
}

.card-tag > .fz-h3 {
    text-align: center;
}


/* @元件-按鈕 ---------------------------------------------------------------------------------------------- */
.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 193px;
    height: 64px;
    margin-top: 16px;
    border-radius: 20px;
    text-align: center;
    color: var(--primary);
    box-shadow: var(--up-neum);
    background: var(--gradient-neu);
    transform: perspective(1px) translateZ(0);
    cursor: pointer;
}

.btn-primary.bg-next {
    background: var(--primary);
}

.btn-primary:hover {
    box-shadow: var(--outside-hover);
}

.btn-primary::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background: var(--gradient-primary);
    transform: scale(0);
    transition: .3s;
    z-index: -1;
}

.btn-primary:hover::before {
    transform: scale(1);
    box-shadow: var(--outside-hover);
}

.btn-primary:hover .txt-neu {
    color: var(--white) !important;
}

.content-pop .btn-primary {
    margin: 0;
}

.btn-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 47px;
    text-align: center;
    box-shadow: var(--up-neum);
    background: var(--gradient-neu);
    border-radius: 20px;
    cursor: pointer;
}

.btn-sec p {
    color: var(--primary);
}

/* @元件-draggable ------------------------------------------------------------------------------------------- */


/* @元件-progress bar ---------------------------------------------------------------------------------------------- */

.outside-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    box-shadow: var(--up-neum);
    border-radius: 100%;
    background: #F6E7D8;
    z-index: 10;
    /*animation: barin 1s ease;*/
    /*opacity: 0.6;*/
}

@keyframes barIn {
    0% {
        box-shadow: inset 0px 40px 10px rgba(246, 231, 216, 0.9);
    }

    100% {
        box-shadow: inset 0px 100px 10px rgba(246, 231, 216, 0.9);
    }
}


.inner-progress {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: var(--down-neum);
    background-color: var(--white);
    z-index: 10;
}

/* @tag-point ---------------------------------------------------------------------------------------------- */
.tag-point {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    border: 2px solid var(--white);
    border-radius: 4px;
    padding-bottom: 4px;
    box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1px 1px 1px rgba(174, 174, 192, 0.15), -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
    background-color: #F0F0F3;
}

.tag-point p {
    color: var(--primary);
    text-align: center;
}

.tag-point.for-date {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    margin: 8px;
    align-items: center;
}

.tag-point.for-date p {
    line-height: 60px;
    color: var(--txt-placeholder);
}

select.tag-point {
    min-width: 43px;
    margin-top: 0 !important;
    padding: 0 !important;
    text-align: center;
    background-color: #F0F0F3 !important;
    box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1px 1px 1px rgba(174, 174, 192, 0.15), -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4) !important;

}

.overlay-bg {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 8;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background: var(--gradient-bg);
    background-image: url("../images/img_bg.png");
    background-size: cover;
}

/* @文字-txt ---------------------------------------------------------------------------------------------- */

.txt-neu {
    background: var(--primary);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.2) 0px 3px 3px;
}

.btn-primary.bg-next .txt-neu {
    color: var(--white);
    text-shadow: transparent;
}

.txt-progress {
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.2) 0px 3px 3px;
    line-height: 100px;
    text-align: center;
}

.txt-date {
    text-align: center;
    width: 60px;
    margin: 0 8px 8px 8px;
    color: var(--txt-placeholder);
}

/* @顏色-color ---------------------------------------------------------------------------------------------- */

.color_primary {
    color: var(--primary);
}

i, img {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.i-arrow {
    margin: 16px 8px;
    min-width: 30px;
    min-height: 30px;
    background-image: url("../icon/i_arrow.svg");
}

.i-delete {
    min-width: 24px;
    min-height: 24px;
    background-image: url("../icon/i_delete.svg");
    cursor: pointer;
}

.i-more {
    display: inline-block;
    width: 24px;
    height: 24px;
    /*background-image: url("../icon/i_more.svg");*/
    cursor: pointer;
    /*filter: drop-shadow(0px 0 var(--primary));*/
}


.i-link {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background-image: url("../icon/i_link.svg");
}

.i-task {
    min-width: 100px;
    min-height: 100px;
    background-image: url("../icon/i_task.svg");
}

.i-po {
    min-width: 100px;
    min-height: 100px;
    background-image: url("../icon/i_po.svg");
}

.i-order {
    min-width: 100px;
    min-height: 100px;
    background-image: url("../icon/i_order.svg");
}

.i-info {
    min-width: 100px;
    min-height: 100px;
    background-image: url("../icon/i_info.svg");
}

.i-list {
    min-width: 100px;
    min-height: 100px;
    background-image: url("../icon/i_list.svg");
}

.i-meeting {
    min-width: 100px;
    min-height: 100px;
    background-image: url("../icon/i_meeting.svg");
}

.i-retro {
    position: absolute;
    top: -20px;
    right: 36px;
    min-width: 100px;
    min-height: 100px;
    background-image: url("../icon/i_retro.svg");
}


.i-jira {
    min-width: 157px;
    min-height: 47px;
    background-size: 60%;
    background-position: left bottom;;

    background-image: url("../icon/i_jira.svg");
}

/* @圖示-image ---------------------------------------------------------------------------------------------- */

.img-po {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 10;
}

.content-card .img-po {
    left: 70px;
    bottom: 105px;
}

.final-page .img-po {
    left: 130px;
    top: 0;
}

.img-chat {
    position: absolute;
    left: 220px;
    top: 16px;
    z-index: 10;
}

.img-bear {
    position: absolute;
    right: -60px;
    bottom: -48px;
    z-index: 10;
}

.img-engineer {
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 10;
}

.animate__fadeInRight {
    animation: animate__fadeInRight 2s;
}

.slideInLeft {
    animation: slideInLeft 2s;
}

.animate__slideOutLeft {
    animation: animate__slideOutLeft 2s;

}

.animate__pulse {
    animation: animate__pulsepulse 2s infinite;
}

.animate__shakeX {
    animation: animate__shakeX 2s infinite;
}
