/*全局定義css*/
*, *::before, *::after {
    box-sizing: border-box
}

body {
    font-family: -apple-system, "Microsoft JhengHei", Roboto, "Noto Sans TC", "Helvetica Neue", Arial, sans-serif;
    font-size: var(--font-size-base);
    color: var(--black-80);
}

a {
    display: block;
    text-decoration: none;
    color: var(--black-80);
}

a:hover {
    color: var(--primary);
    text-decoration: transparent;
}

img {
    display: block;
    max-width: 100%;
    height: 100%
}

label {
    margin-bottom: auto;
}

p {
    margin-bottom: 8px;
}

svg {
    vertical-align: text-bottom;
}

.container {
    width: 100%;
    height: auto;
    margin: 0 auto
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto
}

.block_center .wrapper {
    max-width: 1100px
}

.w_100 {
    width: 100%
}

.h_100 {
    height: 100%
}

/* ---顏色變數--- */

:root {
    /* color-variables */
    /*深酒紅色 */
    --primary: #8c1c36;
    /*金色*/
    --sub_primary: #cbb291;

    /*亮紅色*/
    --secondary: #b21614;
    /*深金色*/
    --sub_secondary: #c2a073;
    /*淺金色*/
    --info: #faf7f4;

    /*黑色*/
    --black: #000;
    --black-10: rgba(0, 0, 0, 0.1);
    --black-20: rgba(0, 0, 0, 0.2);
    --black-40: rgba(0, 0, 0, 0.4);
    --black-60: rgba(0, 0, 0, 0.6);
    --black-80: rgba(0, 0, 0, 0.8);

    /*白色*/
    --white: #fff;
    --white-80: #ffffff80;
    --white-60: #ffffff60;

    /* font-variables */

    --font-size-base: 16px;
    --font-h1: 48px;
    --font-h2: 40px;
    --font-h3: 24px;
    --font-h4: 20px;
    --font-h5: 18px;
    --font-h6: 14px;
    --font-h7: 12px;

    /*font-weight*/
    --fw-bold: 700;
    --fw-medium: 500;
}

h1, .fz-h1 {
    font-size: var(--font-h1);
    line-height: 72px;
}

h2, .fz-h2 {
    font-size: var(--font-h2);
    line-height: 60px
}

h3, .fz-h3 {
    font-size: var(--font-h3);
    line-height: 36px
}

h4, .fz-h4 {
    font-size: var(--font-h4);
    line-height: 30px
}

h5, .fz-h5 {
    font-size: var(--font-h5);
    line-height: 27px
}

h6, .fz-h6 {
    font-size: var(--font-h6);
    line-height: 21px
}

.fz-h7 {
    font-size: var(--font-h7);
    line-height: 18px
}

.font-default {
    font-size: var(--font-size-base);
    line-height: 30px;
    letter-spacing: 2px;
    color: var(--black-60);
    padding-top: 20px;
    text-align: justify
}

@media (max-width: 414px) {
    h4, .fz-h4 {
        font-size: 18px
    }

    h5, .fz-h5 {
        font-size: 16px
    }

    h6, .fz-h6 {
        font-size: 12px;
        line-height: 18px
    }

    .font-default {
        font-size: 14px;
        line-height: 26px
    }
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fw-medium {
    font-weight: var(--fw-medium);
}

.d_flex {
    display: flex;
}

.d_none {
    display: none !important;
}

.flex_row_a {
    display: flex;
    align-items: center
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.row_center {
    align-items: center;
    justify-content: center;
}

.flex_row_cc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex_row_sb {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.flex_row_eb {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.flex_row_cb {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex_col_ce {
    display: flex !important;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.flex_col_cc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex_row_ce {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.flex_wrap {
    flex-wrap: wrap;
}

.position_re {
    position: relative
}

body::-webkit-scrollbar,
.modal::-webkit-scrollbar{
    width: 5px
}

body::-webkit-scrollbar-track,
.modal::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0)
}

body::-webkit-scrollbar-thumb,
.modal::-webkit-scrollbar-thumb{
    background-color: var(--primary);;
    border-radius: 5px
}

body::-webkit-scrollbar-thumb:hover,
.modal::-webkit-scrollbar-thumb:hover{
    background: var(--sub_primary);
}

::-moz-selection {
    background-color: var(--primary);
    color: var(--white);
}

::selection {
    background-color: var(--primary);
    color: var(--white);
}

.mt40 {
    margin-top: 40px
}

.overflow-hid {
    overflow: hidden
}

.order_2 {
    order: 2
}

